<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{ itemToEdit ? 'Edit' : 'New' }} Item</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-3">
  <form [formGroup]="itemForm" (ngSubmit)="addItem()">
    <div class="row">
      <div class="col-12 d-flex flex-column">
        <input class="my-1 p-2" formControlName="location" type="text" placeholder="Location" />
        <input class="my-1 p-2" formControlName="itemNumber" type="text" placeholder="Item Number" />
        <input class="my-1 p-2" formControlName="date" type="text" placeholder="Date" />
        <input class="my-1 p-2" formControlName="description" type="text" placeholder="Description" />
        <button class="btn btn-dark my-3" [disabled]="!itemForm.valid" type="submit">
          {{ itemToEdit ? 'Update' : 'Add' }} Item
        </button>
      </div>
    </div>
  </form>
</div>
