<div class="item-row row clickable" (click)="select.emit()">
  <div class="col-4 field-text">
    <p class="text">{{ item.location }}</p>
  </div>
  <div class="col-4 field-text">
    <p class="text">{{ item.date }}</p>
  </div>
  <div class="col-4 field-text">
    <p class="text">{{ item.description }}</p>
  </div>
</div>
<div class="row w-100" [@openClose]="selected ? 'open' : 'closed'">
  <div class="col-12 col-sm-6">
    <app-barcode [textToEncode]="item.number"></app-barcode>
  </div>
  <div class="col-6 col-sm-3 pt-1">
    <button class="btn btn-primary w-100 my-1" (click)="edit.emit()">Edit</button>
  </div>
  <div class="col-6 col-sm-3 pt-1">
    <button class="btn btn-outline-primary w-100 my-1" (click)="delete.emit()">Delete</button>
  </div>
</div>
