<div class="header-row row">
  <div class="col-3" *ngFor="let header of columnHeaders">
    <h5 class="header-text">{{ header }}</h5>
  </div>
</div>
<div class="row" *ngFor="let item of items">
  <div class="col-12">
    <div class="item-row row clickable" (click)="selectItem(item)">
      <div class="col-3 field-text">
        {{ item.location }}
      </div>
      <div class="col-3 field-text">
        {{ item.number }}
      </div>
      <div class="col-3 field-text">
        {{ item.date }}
      </div>
      <div class="col-3 field-text">
        {{ item.description }}
      </div>
    </div>
    <div class="row w-100" [@openClose]="selectedItem === item ? 'open' : 'closed'">
      <div class="col-6 col-sm-3 d-flex flex-column justify-content-end">
        <button class="btn btn-primary w-100 my-1">Edit</button>
      </div>
      <div class="col-6 col-sm-3 d-flex flex-column justify-content-end">
        <button class="btn btn-outline-primary w-100 my-1">Delete</button>
      </div>
    </div>
  </div>
</div>
