@import "src/theme/theme-variables.scss";

.search-bar {
  height: 50px;
}

.search-box,
.search-box:focus,
.search-box:active {
  outline: none;
  border: none;
}

.add-button {
  border-radius: 50%;
  background-color: $dark;
  width: 60px;
  height: 60px;
  left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 4px 3px #ccc;
}

.add-button:active {
  transform: translateY(4px);
  box-shadow: 0 0 0 0 #ccc;
}

.add-button-text {
  color: $light;
  margin: -10px 0 0 0;
}

.scroll-view-container {
  max-height: 80vh;
  overflow-y: auto;
  .scroll-view {
    min-height: 100vh;
  }
}
